/* Ce fichier concerne le css liés à l'administration */
/* Couleur principale : #2A3E51 #36414A #485864 */
html, body {
    margin: 0;
    padding: 0;
    /* padding-top: 50px; */
    font-size: 16px;
    font-family: Open-sans, sans-serif;
}

#reservation, #utilisateur, #avis {
    display: none;
}

.navbar {
    height: 80px;
    position: fixed;
}

.navbar ul, #titre {
    display: inline-block;
    line-height: 1;
}

.navbar ul li {
    margin: 0 10px;
    display: inline-block;
}

#menu {
    float: right;
    line-height: 5;
}

@media (min-width: 768px) {
    .sidebar {
        background-color: #36414A;
        position: fixed;
        top: 79px;
        bottom: 0;
        left: 0;
        z-index: 99999;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        border-right: 1px solid #eee;
    }
}

.main {
    padding: 100px 50px 0 50px;
}