html body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	font-size: 16px;
	max-width: 100%;
    overflow-x: hidden;
    height: 100%;
}

footer {
	bottom: 0;
	width: 100%;
}

.title {
	padding: 10px;
	color:black;
	text-align: center;
	font-weight: 500;
}

.price {
	font-weight: 500;
	font-size: 22px;
	padding-bottom: 10px;
}

.note {
	padding: 10px 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

.text-center {
	text-align: center;
	color: white;
	margin: 0 auto;
}

.rigth {
	float: right;
}

#block {
	margin-top: 100px;
}

#logo {
	height: 50px;
	width: 50px;
}

.navbar {
	border-bottom: none;
    background: rgba(0 ,0 ,0 , .4);
}

.navbar-static-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    /*z-index: 1030;*/
}

.navbar-default .navbar-brand {
    color: #FFF;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
    color: #FFF;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-texta {
   text-decoration: underline;
   color: #FFF;
}
.banner {
	background: url("/img/maison2.jpg") no-repeat center bottom scroll;
	/* background-size: 100% 100%;
	height: 500px;
	max-width: 100%; */
	background-size: 100% 100%;
    height: 500px; 
    display: table;
    width: 100%;
    
}

.intro-body {
	display: table-cell;
    vertical-align: middle;
    height: 500px;
    text-align: center;
    /*width: 100%;*/
}

.title-intro {
	color: #fff;
}

.search-bar {
	width: 50%;
}

.btn-searchbar{
	background-color: #64764d;
	color: #fff;
	border-color: #64764d;
}
.btn-searchbar:hover {
	background-color: #000;
	color: #fff;
	border-color: #000;
}

.list-category h2{
	text-align: center;
	margin: 100px 0;
}

.newsletter-block {
	background-color: lightgrey;
	margin: 5% 0;
	padding: 3% 0 6% 0;
}

/* Registration */
.panel {
	margin: 100px;
}

footer {
	margin-top: 80px;
}

footer li {
	list-style: none;
}

footer li a{
	list-style: none;
	text-decoration: none;
	color: #000;
}

footer li a:hover{
	list-style: none;
	text-decoration: none;
	color: #000;
}

/* Description produit */
.calendar {
	width: 400px;
	height: 400px;
	background-color: #9C0038;
	margin: 0 20px;
}

/* Mes hébergmeents */
.btn_modif_and_delete {
	display: inline-block;
	margin: 10px 5px;
}

.btn_reserve {
	float: right;
	margin: 0 20px 20px 20px;
}